In [ ]:
'''
Q1. What is a database? Differentiate between SQL and NoSQL databases.
Ans- A database is an organized collection of structured information, or data, typically stored electronically in a computer system.
    A SQL Database follows a table like structure which can have an unlimited number of rows and every data present inside the database is properly structured with predefined schemas, it is basically used to manipulate Relational Database Management Systems.
    A NoSQL Database is a distributed database where the data is very unstructured with Dynamic schema. Unlike SQL it cannot have unlimited rows but it folows a standard schema Definition and can store all sorts of data models with larfe distributed data in the form of key-value pairs, graph database, documents or wide-column stores.
'''

In [ ]:
'''
Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.
Data definiton language (DDL) refers to the set of SQL commands that can create and manipulate the structures of a database. DDL statements are used to create, change, and remove objects including indexes, triggers, tables and views. Common DDL statements include:CREATE(generate new table)
    TRUNCATE TABLE removes the data by deallocating the data pages used to store the table data and records only the page deallocations in the transaction log. Fewer locks are typically used. When the DELETE statement is executed using a row lock, each row in the table is locked for deletion
    It is a Data Definition Language Command (DDL). It is used to drop the whole table. With the help of the “DROP” command we can drop (delete) the whole structure in one go i.e. it removes the named elements of the schema. By using this command the existence of the whole table is finished or say lost.
    The ALTER TABLE command adds, deletes, or modifies columns in a table.The ALTER TABLE command also adds and deletes various constraints in a table.
'''

In [ ]:
'''
Q3. What is DML? Explain INSERT, UPDATE, ans DELETE with an example.
Ans- A DML refers to a computer programming language that allows you to add(insert), delete and alter(update) data in a database.
    The INSERT statement introduces new rows into an existing table.
    The DELETE statement removes a row or combination of rows from table.
    The UPDATE statement enables users to update a row or group of rows in a table.
'''

In [ ]:
'''
Q4. What is DQL? Explain SELECT with an example.
Ans- DQL is basically used to retrieve data. It consists of commands that do so. A user can feasibly retrieve the data in accordance with their requirements using a single command: select. Meaning, the Data Query Language used for information retrieval is the SELECT statement.
    The SELECT statement is used to select data from a database. The data returned is stored in a result table, called the result-set.
'''

In [ ]:
'''
Q5. Explain Primary key and Foreign key.
Ans- Primary key : A primary key is used to ensure that data in the specific column is unique. A column cannot have NULL values. It is either an existing table column or a column that is specifically generated by the database according to a defined sequence.
    Foreign key : A foreign key is a column or group of columns in a relational database table that provides a link between data in two tables. It is a column of another table.
'''

In [ ]:
'''
Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.
Ans- A cursor in SQL is a database object stored in temp memory and used to work with dataset. You can use cursors to manipulate data in a database, one row at a time at a time. A cursor uses a SQL SELECT statement to fetch a rowset from a database and then can read and manipulate one row at a time.
'''

In [ ]:
'''
Q7. Give the order of execution of SQL clauses in an SQL query.
Ans- SQL queries adhere to a specific order when evaluating clauses, similar to how mathematical operation adhere to PEMDAS or BIDMAS.
    The order in which the clauses in queries are executed is an follows:
    1. FROM/JOIN : The FROM and/ or JOIN clauses are executed first to detemine the data of interest.
    2. WHERE: The WHERE clause is executed to filter out records that do not meet the constraints.
    3. GROUP BY: The GROUP BY clause is executed to group the data based on the values in one or more columns.
    4. HAVING: The HAVING clause is executed to remove the created grouped records that don't meet the constraints.
    5. SELECT: The SELECT clause is executed to derive all desired columns and expressions.
    6. ORDER BY: The ORDER BY clause is executed to sort the derived values in ascending or descending order.
    7. LIMIT/OFFSET: Finally, the LIMIT and/or OFFSET clauses are executed to keep or skip a specified number of rows.
'''